.uploader-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .upload-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px dashed #8E2DE2;
    height: 300px;
    width: 500px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .upload-form:hover {
    background-color: #8E2DE210;
  }
  
  .upload-placeholder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .uploaded-image {
    border-radius: 5px;
  }
  
  .uploaded-row {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    border-radius: 5px;
    background-color: #8E2DE220;
    width: 500px;
  }
  
  .upload-content {
    display: flex;
    align-items: center;
  }
  
  .delete-icon {
    margin-left: 10px;
    cursor: pointer;
  }
  